
# environment variables
.env
.env.production
!frontend/.env
!frontend/.env.development.local.example

# jetbrains
.idea/
**/*.iml

# vscode
.vscode/

# backend excludes
backend/target/**
backend/build/**
backend/local.env
**/.gradle/**

/oauth2-authorizations.json
/backend/http-client.env.json
/frontend/tsconfig.tsbuildinfo
/.vite/vitest/results.json
/.do-not-commit/
/ukolovnik.md
/TODOS.md
/tasks/**
/.playwright-mcp/*
/node_modules/*