
# environment variables
.env
.env.production

# jetbrains
.idea/
**/*.iml

# vscode
.vscode/

# backend excludes
backend/target/**
backend/build/**
backend/local.env
**/.gradle/**

/oauth2-authorizations.json
/backend/http-client.env.json
/frontend-2/tsconfig.tsbuildinfo
/.vite/vitest/results.json
