
# environment variables
.env
.env.production

# jetbrains
.idea/
**/*.iml

# vscode
.vscode/

# backend excludes
backend/target/**
backend/build/**
backend/local.env
**/.gradle/**

/oauth2-authorizations.json
/backend/http-client.env.json
/frontend/tsconfig.tsbuildinfo
/.vite/vitest/results.json
/.do-not-commit/
/ukolovnik.md
/TODOS.md
/tasks/refactor-member-application-services.md
/tasks/refactor-patch-optional-to-patch-field.md
/tasks/reorganize-user-creation-methods.md
