# https://console.cloud.google.com/apis/credentials/oauthclient/78220776170-nd1hrjmgipf2dv9e8np4qjv7tb8h7as5.apps.googleusercontent.com?project=youtubevideosstream
#GOOGLE_CLIENT_ID=
#GOOGLE_CLIENT_SECRET=

DOCKER_IMAGE_NAME=
DOCKER_USERNAME=
DOCKER_PASSWORD=