---
import { Separator } from '@/components/ui/separator'
import { cn } from '../lib/utils'
import { buttonVariants } from '@/components/ui/button'

const sidebarNavItems = [
  {
    title: 'Profile',
    href: '/settings/profile',
  },
  {
    title: 'Account',
    href: '/#',
  },
  {
    title: 'Appearance',
    href: '/#',
  },
  {
    title: 'Notifications',
    href: '/#',
  },
  {
    title: 'Display',
    href: '/#',
  },
]

const { pathname } = Astro.url
---

<div class="hidden space-y-6 p-10 pb-16 md:block">
  <div class="space-y-0.5">
    <h2 class="text-2xl font-bold tracking-tight">Settings</h2>
    <p class="text-muted-foreground">
      Manage your account settings and set e-mail preferences.
    </p>
  </div>
  <Separator className="my-6" />
  <div class="flex flex-col space-y-8 lg:flex-row lg:space-x-12 lg:space-y-0">
    <aside class="-mx-4 lg:w-1/5">
      <nav class="flex space-x-2 lg:flex-col lg:space-x-0 lg:space-y-1">
        {
          sidebarNavItems.map((item) => (
            <a
              href={item.href}
              class={cn(
                buttonVariants({ variant: 'ghost' }),
                pathname === item.href
                  ? 'bg-muted hover:bg-muted'
                  : 'hover:bg-transparent hover:underline',
                'justify-start',
              )}
            >
              {item.title}
            </a>
          ))
        }
      </nav>
    </aside>
    <div class="flex-1 lg:max-w-2xl">
      <slot />
    </div>
  </div>
</div>
