---
import { getSession } from 'auth-astro/server'
import Layout from '../../layouts/Layout.astro'
import Main from '../../layouts/Main.astro'
import Settings from '../../layouts/Settings.astro'
import { Separator } from '@/components/ui/separator'
import { UserForm } from '@/components/settings/UserForm'

const session = await getSession(Astro.request)
const user = session?.user!
---

<Layout title="Settings | Profile">
  <Main>
    <Settings userName={user.name}>
      <div class="space-y-6">
        <div>
          <h3 class="text-lg font-medium">Profil</h3>
          <p class="text-sm text-muted-foreground">
            Update your account settings. Set your preferred language and
            timezone.
          </p>
        </div>
        <Separator />
        <!--<ProfileForm defaultValues={{}} client:load />-->
        <UserForm client:load />
      </div>
    </Settings>
  </Main>
</Layout>
