---
import Layout from '../../layouts/Layout.astro'
import Main from '../../layouts/Main.astro'
import Settings from '../../layouts/Settings.astro'
---

<Layout title="Settings | Profile">
  <Main>
    <Settings>
      <h2>Profile</h2>
    </Settings>
  </Main>
</Layout>
