---
import { Image } from 'astro:assets'
import { Card, CardHeader, CardTitle, CardDescription, CardContent } from '@/components/ui/card'
import Layout from '../layouts/Layout.astro'
import Banticles from '../components/Banticles.svelte'
import { LoginForm } from '../components/LoginForm'
---

<Layout title="Login">
  <div class="w-full flex h-full items-center justify-center bg-muted overflow-hidden">
    <Banticles
      client:load
      particleSrc="/tree.png"
      density={0.3}
      lineColorRgb={{ r: 0, g: 8, b: 8 }}
    />
    <Card className="mx-auto w-[300px] sm:w-[400px] z-0 -mt-32 p-4">
      <CardHeader>
        <CardTitle className="text-5xl text-center">Klabis</CardTitle>
      </CardHeader>
      <CardContent >
        <LoginForm client:load />
        {/*<div className="mt-4 text-center text-sm">*/}
        {/*  Don&apos;t have an account?{' '}*/}
        {/*  <a href="#" className="underline">*/}
        {/*    Sign up*/}
        {/*  </a>*/}
        {/*</div>*/}
      </CardContent>
    </Card>
  </div>
</Layout>
