---
import { Card, CardHeader, CardTitle, CardContent } from '../components/ui/card'
import Layout from '../layouts/Layout.astro'
import Banticles from '../components/Banticles.svelte'
import { LoginForm } from '../components/LoginForm.tsx'
---

<Layout title="Login">
  <div
    class="flex h-full w-full items-center justify-center overflow-hidden bg-muted"
  >
    <Banticles
      client:load
      particleSrc="/tree.png"
      density={0.3}
      lineColorRgb={{ r: 0, g: 8, b: 8 }}
    />
    <Card className="z-0 mx-auto -mt-32 w-[300px] p-4 sm:w-[400px]">
      <CardHeader>
        <CardTitle className="text-center text-5xl">Klabis</CardTitle>
      </CardHeader>
      <CardContent>
        <LoginForm client:load />
        {/*<div className="mt-4 text-center text-sm">*/}
        {/*  Don&apos;t have an account?{' '}*/}
        {/*  <a href="#" className="underline">*/}
        {/*    Sign up*/}
        {/*  </a>*/}
        {/*</div>*/}
      </CardContent>
    </Card>
  </div>
</Layout>
