spring:
  profiles:
    active:
      - server
    include:
      - http2
      - hateoas
      - springdoc
      - inmemorydb
    group:
      server:
        - inmemorydb
        #- oris
        #- zipkin
      localhost:
        - inmemorydb
  application:
    name: Klabis API

  security:
    oauth2:
      authorizationserver:
        endpoint:
          oidc:
            user-info-uri: /oidc/userinfo
          authorization-uri: /oauth/authorize
          token-uri: /oauth/token
        client:
          1000:
            registration:
              client-id: "klabiswiki"
              client-secret: "{noop}secret"
              client-authentication-methods:
                - "client_secret_basic"
                - "client_secret_jwt"
                - "client_secret_post"
              #  - none
              authorization-grant-types:
                - "authorization_code"
                - "refresh_token"
              redirect-uris:
                - "https://wiki.zabiny.club/auth/oidc.callback"
                - "https://klabis-api-docs.otakar.io/oauth2-redirect.html"
              post-logout-redirect-uris:
                - "https://wiki.zabiny.club"
              scopes:
                - "openid"
                - "profile"
                - "email"
            #require-authorization-consent: true
          1100:
            registration:
              client-id: "frontend"
              client-secret: "{noop}fesecret"
              client-authentication-methods:
                - "client_secret_basic"
                - "client_secret_jwt"
                - "client_secret_post"
              authorization-grant-types:
                - "authorization_code"
                - "refresh_token"
              redirect-uris:
                - "https://klabis.otakar.io/auth/callback"
                - "http://localhost:8788/auth/callback"
                - "http://localhost:5173/auth/callback"
                - "http://localhost:3000/auth/callback"
                - "https://localhost:8443/login/oauth2/code/klabis"
              post-logout-redirect-uris:
                - "https://klabis.otakar.io"
                - "http://localhost:8788"
                - "http://localhost:5173"
              scopes:
                - "openid"
                - "profile"
                - "email"
            require-proof-key: true
            token:
              reuse-refresh-tokens: false
              refresh-token-time-to-live: P5D   # 5 days
              access-token-time-to-live: PT1H   # 1 hour
          1200:
            registration:
              client-id: "aife"           # AI UI
              client-secret: "{noop}aifesecret"
              client-authentication-methods:
                - "client_secret_basic"
                - "client_secret_jwt"
                - "client_secret_post"
              authorization-grant-types:
                - "authorization_code"
                - "refresh_token"
              redirect-uris:
                - "http://localhost:8080/callback"
                - "https://preview--orienter-club-hub.lovable.app/callback" # preview URL
                - "https://*.lovableproject.com/callback"  # Sandboxes are dynamic :(
                - "https://*.lovable.app/callback"  # Sandboxes are dynamic :(
              post-logout-redirect-uris:
                - "http://localhost:8080"
                - "https://preview--orienter-club-hub.lovable.app"
              scopes:
                - "openid"
                - "profile"
                - "email"
            require-proof-key: true
            token:
              reuse-refresh-tokens: false
              refresh-token-time-to-live: P5D   # 5 days
              access-token-time-to-live: PT1H   # 1 hour
          2000:
            registration:
              client-id: "test"
              client-secret: "{noop}test"
              client-authentication-methods:
                - "client_secret_basic"
                - "client_secret_post"
              authorization-grant-types:
                - "authorization_code"
                - "refresh_token"
              redirect-uris:
                - "https://localhost:8443/login/oauth2/code/klabis"
                - "https://klabis-auth.polach.cloud/login/oauth2/code/klabis"
                - "http://klabis-auth.polach.cloud/login/oauth2/code/klabis"
                - "https://localhost:8443/swagger-ui/oauth2-redirect.html"
                - "https://klabis-auth.polach.cloud/swagger-ui/oauth2-redirect.html"
                - "https://klabis-api-docs.otakar.io/oauth2-redirect.html"
              #              post-logout-redirect-uris:
              #                - "https://wiki.zabiny.club"
              scopes:
                - "openid"
                - "profile"
                - "email"
            #            require-authorization-consent: true
            token:
              reuse-refresh-tokens: false
              refresh-token-time-to-live: P5D   # 5 days
              access-token-time-to-live: PT1H   # 1 hour
          3000:
            registration:
              client-id: "apispec"
              client-secret: "{noop}apispec"
              client-authentication-methods:
                - "client_secret_basic"
                - "client_secret_post"
              authorization-grant-types:
                - "authorization_code"
                - "refresh_token"
              redirect-uris:
                - "https://localhost:8443/swagger-ui/oauth2-redirect.html"
                - "https://klabis-auth.polach.cloud/swagger-ui/oauth2-redirect.html"
                - "https://klabis-api-docs.otakar.io/oauth2-redirect.html"
                - "https://api.klabis.otakar.io/oauth2-redirect.html"
                - "https://api.klabis.otakar.io/swagger-ui/oauth2-redirect.html"
              scopes:
                - klabis
                - members
                - events
                - finance
                - openid
                - profile
      client:
        registration: # configurations are used by authorization server's login page - "Resource" server has hardcoded single registration - klabis OIDC
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
          #              - profile
          #              - email

          #facebook:
          #  client-id: ${FACEBOOK_CLIENT_ID}
          #  client-secret: ${FACEBOOK_CLIENT_SECRET}
          #github:
          #  client-id: ${GITHUB_CLIENT_ID}
          #  client-secret: ${GITHUB_CLIENT_SECRET}
          #  scope:
          #              - openid
          #    - profile
  jpa:
    hibernate:
      ddl-auto: validate  # pro persistentni DB pouze zvalidovat schema databaze

  jackson:
    mapper:
      default-view-inclusion: true

  mvc:
    problemdetails:
      enabled: true

logging:
  level:
    club.klabis: debug
    org.springframework.security.jackson2.SecurityJackson2Modules: info
    org.springframework.security.web.savedrequest.HttpSessionRequestCache: trace
    #org.springframework.data.repository.config.RepositoryConfigurationDelegate: trace
    #org.springframework.data.repository.core.support.RepositoryFactorySupport: trace
    #org.springframework.web.client.RestTemplate: DEBUG
    #REQUESTS_LOGGER: TRACE
    org.zalando.logbook: info

    # Specifické logování pro CORS
    #org.springframework.web.cors: trace

    # Web security logování
    #org.springframework.security.web: TRACE
    oauthserver: info
    oauthclient: info
  pattern:
    console: "%clr(%d{${LOG_DATEFORMAT_PATTERN:yyyy-MM-dd'T'HH:mm:ss.SSSXXX}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%X{URL}){magenta} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"
  group:
    oauthserver: club.klabis.config.authserver,org.springframework.security,org.springframework.security.oauth2,org.springframework.security.oauth2.core,org.springframework.security.oauth2.server
    oauthclient: org.springframework.security.oauth2.client,org.springframework.security.oauth2.core

management:
  endpoint:
    loggers:
      access: read-only
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        #include: loggers, caches, configprops, env, flyway, httpexchanges, info, mappings, scheduledtasks
        include: loggers, caches, env, info, mappings, health, modulith, prometheus, metrics
  tracing:
    export.enabled: false

springdoc:
  api-docs:
    enabled: false